@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat[wght].ttf") format("truetype");
  font-weight: 200 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-offset-x: 0px;
  --shadow-offset-y: 0px;
  --text-color: rgba(225, 225, 225, 1);
  --background-color: rgba(25, 25, 25, 1);
  --foreground-color: rgb(60, 60, 60);
  --accent-color: rgba(239, 68, 68, 1);
  --shadow-color: rgba(239, 68, 68, 1);
  --landing-color: rgba(239, 68, 68, 1);
  --about-color: rgba(168, 85, 247, 1);
  --skills-color: rgba(0, 155, 160, 1);
  --projects-color: rgba(59, 130, 246, 1);
  --contact-color: rgba(255, 165, 0, 1);
}

html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Montserrat", sans-serif;
  transition:
    color 0.5s ease,
    background-color 0.5s ease,
    foreground-color 0.5s ease;
}

.heading {
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.light {
  ::selection {
    background: yellow;
  }
}

.dark {
  ::selection {
    background: transparent;
    color: yellow;
  }
}

.light .shadow {
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

.shadow.landing {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--shadow-color)
  );
}
.shadow.about {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--about-color)
  );
}
.shadow.skills {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--skills-color)
  );
}
.shadow.projects {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--projects-color)
  );
}
.shadow.contact {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--contact-color)
  );
}
.shadow {
  box-shadow: none;
  color: var(--text-color);
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
&.landing {
  filter: drop-shadow(
    var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--shadow-color)
  );
  box-shadow: none;

  &.link:hover {
    cursor: pointer;
    color: var(--shadow-color);
  }
}

.text-outline {
  text-shadow:
    -0.5px -0.5px 0 var(--background-color-dark),
    0.5px -0.5px 0 var(--background-color-dark),
    -0.5px 0.5px 0 var(--background-color-dark),
    0.5px 0.5px 0 var(--background-color-dark);
}

.spotlight {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 1s ease-in;
  opacity: 0.6;
  filter: blur(3px);
  will-change: background;
  z-index: 20;

  &.animation {
    animation: spotlightFade 1s forwards;
  }

  &.light {
    will-change: background;
    background: radial-gradient(
      circle at var(--spotlight-x) var(--spotlight-y),
      rgba(0, 0, 0, 0.6) 0%,
      transparent var(--spotlight-radius, 14%)
    );
  }
  &.dark {
    will-change: background;
    background: radial-gradient(
      circle at var(--spotlight-x) var(--spotlight-y),
      rgba(255, 255, 255, 0.6) 0%,
      transparent var(--spotlight-radius, 14%)
    );
  }
}

@keyframes spotlightFade {
  0% {
    background: radial-gradient(
      circle at 50vw 50vh,
      rgba(255, 255, 255, 0.6),
      transparent 14%
    );
    opacity: 0;
  }
  100% {
    background: radial-gradient(
      circle at 50vw 50vh,
      rgba(255, 255, 255, 0.6),
      transparent 14%
    );
    opacity: 0.6;
  }
}
.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.hidden {
  display: none;
}

.dark-mode-button {
  transition: all 0.3s ease;

  &.round {
    border-radius: 50%;
  }

  &.toggle:hover {
    color: rgb(255, 255, 0) !important;
  }

  &.scroll-button {
    &:hover {
      color: rgb(0, 0, 0);
      &.landing {
        background-color: var(--landing-color);
      }
      &.accent {
        background-color: var(--accent-color);
      }
      filter: brightness(70%);
      &.scroll-up {
        background-color: var(--accent-color);
      }
    }
  }

  &.scroll-down {
    color: var(--background-color);
    background-color: var(--landing-color);
  }

  &.dark {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

  &.light {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
}
.react-tooltip {
  opacity: 0;
  font-weight: 700;
  background-color: var(--projects-color) !important;
  color: var(--text-color);
  transition: opacity 150ms ease-in !important;
}

.react-tooltip[data-show] {
  opacity: 1 !important;
}

.masked-element {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  mask-image: url("../../../public/favicon.svg");
  -webkit-mask-image: url("../../../public/favicon.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
}

.home-hero {
  background:
    linear-gradient(to right, var(--hero-color), var(--hero-color)),
    url(../../../public/images/bg.svg);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.contact-hero {
  background:
    linear-gradient(to right, var(--hero-color), var(--hero-color)),
    url(../../../public/images/bg.svg);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-position: center;
  position: relative;
  height: 100%;
}
