@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --shadow-color: #4444dd;
  --background-color: #000000;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: 'Nunito', sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease; /* Corrected syntax */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .highlight {
    background: transparent;
    color: yellow;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  }
}

::selection {
  background: transparent;
  color: yellow;
}

.shadow {
  filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 3px var(--shadow-color));
  box-shadow: none;
  text-shadow:
   -2px -1px 0 #000,  
    2px -1px 0 #000,
    -2px 1px 0 #000,
     2px 1px 0 #000;
}

.shadow.landing{
  filter: drop-shadow(var(--shadow-offset-x) var(--shadow-offset-y) 2px var(--shadow-color-landing));
  box-shadow: none;
}

.link.landing:hover{
  cursor:pointer;
  color: var(--shadow-color-landing);
}

.circle {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
}


.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: opacity 1s ease-in;
  opacity: 0.6;
  filter: blur(5px);
  mix-blend-mode: screen;
  z-index: 10;

  &.animation {
    animation: spotlightFade 1s ease-in forwards;
  }

  &.light{
    background: radial-gradient(
      circle at var(--spotlight-x) var(--spotlight-y),
      rgba(0, 0, 0, 0.6) 0%,
      transparent var(--spotlight-radius, 14%)
    );
  }
  &.dark{
    background: radial-gradient(
      circle at var(--spotlight-x) var(--spotlight-y),
      rgba(255, 255, 255, 0.6) 0%,
      transparent var(--spotlight-radius, 14%)
    );
  }
}



@keyframes spotlightFade {
  0% {
    background: radial-gradient(circle at 50vw 50vh, rgba(255, 255, 255, 0.6), transparent 14%);
    opacity: 0;
  }
  100% {
    background: radial-gradient(circle at 50vw 50vh, rgba(255, 255, 255, 0.6), transparent 14%);
    opacity: 0.6;
  }
}


.dark-mode-button {
  transition: all 0.3s ease;
  border-radius: 50%;
  border: 2px solid transparent;
  
  &.toggle:hover {
    color: rgb(255, 255, 0)!important; 
  }

  &.scroll-top:hover {
    color: rgb(0, 0, 255);
  }

  &.dark {
    &.scroll{color: rgb(255, 255, 255);}
    &.toggle{
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
  }
}

  &.light {
    &.scroll{color: rgb(0, 0, 0);}
    &.toggle{
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
  }
}
}
